.title-background{
  height: 420px;
}

.about{
  font-size: 1.2em;
  padding: 25px 30px;
}

.sales .sale-container{
  width: 303px;
}

.sales .sale-container img{
  width: 103px;
  height: 103px;
}

.sales .sale-container .text{
  margin-left: 113px;
  font-size: 1.05em;
}

.sales .sale-container a{
  margin: 18px auto 0 113px;
  font-size: 1em;
  width: 180px;
  padding: 10px 0 0 42px;
}

.gallery .photo-container{
  width: 320px;
}

.footer .social{
  width: 260px;
  height: 90px;
  margin: 30px auto;
}

.footer .social .address{
  height: 35px;
}

.footer .contacts .contact .name{
  margin: 10px 0 10px 110px;
}

.footer .contacts .contact .vk{
  margin: 10px 0 10px 113px;
}

.footer .contacts .contact .phone{
  margin: 5px 0 10px 113px;
}
